%nav{:class => "top-bar" ,:'data-topbar' => "top-bar", :role => "navigation"}
  %ul.title-area
    %li.name
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %secion.top-bar-section
    %ul.left
      %li= link_to "Blocipedia", root_path, class: "generic-button"
      %li.divider
      %li= link_to "About", about_path, class: "generic-button"
      %li.divider
    %ul.right
      - if user_signed_in?
        %li{class: 'no-action'}
          Signed in as:
          %strong #{current_user.email}
        %li.divider
        %li= link_to 'Edit Profile', edit_user_registration_path, class: 'generic-button'
        %li.divider
        %li= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'generic-button'
      - else
        %li= link_to 'Sign Up', new_user_registration_path, class: 'generic-button'
        %li= link_to 'Sign In', new_user_session_path, class: 'generic-button'
